  <div class="single-conv">
    <div class="single-mkt-categories">
      <div ng-show="vm.hideCategories" ng-click="vm.toggleFilter()" class="filter-button">Category Filters</div>
      <ul ng-show="!vm.hideCategories" class="curr-categories">
        <button ng-click="vm.toggleFilter()">x</button>
        <li><input type="checkbox"> Clear All</li>
        <li><input type="checkbox"> Vendor Messages</li>
        <li ng-repeat="category in vm.currCategories | orderBy: 'category'"><input type="checkbox"> {{ category.category }}</li>
      </ul>
    </div>
    <div class="mkt-messages">
      <ul>
        <li ng-repeat="message in vm.currMsgs | orderBy: dt">
          <p ng-class="{'vendor-message':message.vendor=true}">{{ message.msg }}</p>
          <img ng-src="{{ message.img }}"
               height="100"
               ng-show="message.img.length > 0">
        </li>
      </ul>
    </div>
    <div class="new-post">
      <h4>Submit A New…</h4>
      
      <div class="row" ng-show="vm.postTypeButtons">
        <button ng-click="vm.hideButtons(); vm.showPostForm();">Post</button>
        <button ng-click="vm.hideButtons(); vm.showImageForm();">Photo</button>
      </div>
      
      <div class="row"
           ng-show="vm.postForm">
        <h4>Submit this Post</h4>
        <form ng-submit="vm.postMessage()">
          <div ng-show="vm.currCategories[0]" class="row">
            <label for="category">Message Category</label>
            <select required id="category" ng-model="vm.message.category_id" class="six columns">
              <option ng-repeat="category in vm.currCategories | orderBy: 'category'" value="{{ category.category_id }}">{{ category.category }}</option>
            </select>
          </div>
          <div class="row">
            <label for="message">Message</label>
            <textarea id="message" ng-model="vm.message.msg" class="u-full-width"></textarea>
          </div>
          <button ng-click="vm.showButtons()">Cancel</button>
          <button type="submit">Send</button>
        </form>      
      </div>
      
      <div class="row"
           ng-show="vm.imageForm">
        <h4>Submit this Image</h4>
        <button ng-click="vm.showButtons()">Cancel</button>
      </div>
      
    </div>
  </div>


