  <div class="single-conv">
      {{ vm.filter }}
      <button ng-show="!vm.vendor" ng-click="vm.vendorFilter()">Show only Vendor Messages</button>
      <button ng-show="vm.vendor" ng-click="vm.clearVendorFilter()">Show all Market Messages</button>
      <select ng-model="vm.filter">
        <option value="">Filter Messages By Category</option>
        <option value="">Show All</option>
        <option ng-repeat="category in vm.currCategories | orderBy: 'category'" value="{{ category.category }}">{{ category.category }}</option>
      </select>
    </div>
    <div class="mkt-messages">
      <ul>
        <li ng-repeat="message in vm.currMsgs | filter: { category: vm.filter, vendor: vm.vendor } | orderBy: dt">
          <p ng-class="{'vendor-message':message.vendor}">{{ message.msg }}</p>
          <p>{{ message.category }}</p>
        </li>
      </ul>
    </div>
    <div class="new-post">
      <div class="row">
        <h4>Post a new Message</h4>
        <form ng-submit="vm.postMessage()">
          <div ng-show="vm.currCategories[0]" class="row">
            <label for="category">Message Category</label>
            <select required id="category" ng-model="vm.message.category_id" class="six columns">
              <option ng-repeat="category in vm.currCategories | orderBy: 'category'" value="{{ category.category_id }}">{{ category.category }}</option>
            </select>
          </div>
          <div class="row">
            <label for="message">Message</label>
            <textarea id="message" ng-model="vm.message.msg" class="u-full-width"></textarea>
          </div>
          <button ng-click="vm.showButtons()">Cancel</button>
          <button type="submit">Send</button>
        </form>
      </div>

    </div>
  </div>


