<div class="container">

  <div class="row">
    <h1 class="center-text">Welcome to the Landing Page!</h1>
  </div>
  
  <div class="row">
    <img src="/images/market1.jpeg" 
         class="max-width-img"
         alt="Trove Hero Image">
  </div>

  <div class="row"
       ng-show="vm.show">
    <div class="six columns
                bttn-center">
    <button class="button-primary" 
            ng-click="vm.clearZip()"
            >Check Out Your Local Markets</button>
    </div>
    <div class="six columns
                bttn-center">
    <button class="button-primary" 
            ng-click="vm.toggleShow()"
            >Search For Markets By Zip Code</button>
    </div>
  </div>
  
  <div class="row"
       ng-hide="vm.show">
    <form>
      <h3>Find By Zipcode</h3>
      <input ng-model="vm.zip" 
             type="text"
             placeholder="ex: 80209">
      <button ng-click ="vm.toggleShow()">Cancel</button>
      <button ng-click ="vm.assignSearchZip()" 
              type="submit">
              Search</button>
    </form>
  </div>

</div>


    
    