<div class="container">
  <div class="row">
    <img class="landing-logo" src="images/trove_logo.svg">
  </div>

  <div class="landing-btns"
       ng-show="vm.show">
    <h1>Find Farmers' Market Treasure:</h1>
    <button class="button-primary
                  landing-nav-btn"
            ng-click="vm.clearZip()"
            >Local Markets</button>
    <button class="button-primary
                  landing-nav-btn"
            ng-click="vm.toggleShow()"
            >Search By Zip Code</button>
  </div>

  <div class="zip-search-btn" ng-hide="vm.show">
    <form>
      <h3>Find By Zipcode</h3>
      <input ng-model="vm.zip"
             type="text"
             placeholder="ex: 80209">
      <button class="green-button" ng-click ="vm.assignSearchZip()"
              type="submit">
              Search</button>
      <button class="red-button" ng-click ="vm.toggleShow()">Cancel</button>
    </form>
  </div>

  <div class="u-full-width">
    <img class="landing-video" src="images/farmers_market.jpg">
  </div>
  <div class="row">
    <h1 class="center-text">What is Trove?</h1>
    <div class="ten offset-by-one columns">
      <p class="trove-intro">Trove is a discovery and communication tool for farmers market patrons and vendors.  Whether you’re at home planning your day, or you’re wandering through your favorite Farmer’s Market, Trove is there for you.</p>
    </div>
  </div>

   <div class="row">
    <div class="five offset-by-one columns">
      <h3 class="center-text">Discovery</h3>
      <p class="trove-intro">Looking for a new farmers market? Need info on an old standby? Trove is the tool for you. With information on farmers markets all across the United States there’s a treasure trove of information and possibility out there.</p>
    </div>
    <div class="five columns">
      <h3 class="center-text">Communication</h3>
      <p class="trove-intro">With realtime chat and user images you’ll always know what’s going on. Patrons can ask questions and share their finds. Vendors can answer questions and post deals to strengthen their connection with their customers.</p>
    </div>
  </div>

</div>



