<div class="container all-markets">

  <div class="row">
    <h1 class="near-header">Near You:</h1>
      <ul class="all-markets-list">
        <li ng-repeat="market in vm.nearbyMarkets | orderBy: 'distance'">
          <div class="six columns">
            <div class="market-image">
              <div class="market-text">
                <p class="mkt-name">{{ market.market_name }}</p>
                <p>{{ market.city }}, {{ market.state }}</p>
                <p>Distance: {{ market.distance | number:1 }} miles</p>
                <div class="go-button">
                  <a href="/#/info" ng-click="vm.setId(market.id, market.fmid)"><button>Go</button></a>
                </div>
              </div>
              <div class="mobile-buttons">
                <div class="info-button">
                  <a href="/#/market-info" ng-click="vm.setId(market.id, market.fmid)" class="mobile-nav">Info</a>
                </div>
                <div class="image-button">
                  <a href="/#/images" ng-click="vm.setId(market.id, market.fmid)" class="mobile-nav">Images</a>
                </div>
                <div class="buzz-button">
                  <a href="/#/messages" ng-click="vm.setId(market.id, market.fmid)" class="mobile-nav">Buzz</a>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>

  </div>

</div>
