<div class="container all-markets">

  <div class="row">
    <h1>Welcome to the Nearby Markets Page!</h1>
    <h4>Lat: {{lat}}</h4>
    <h4>Lng: {{lng}}</h4>

      <ul class="all-markets-list">
        <li ng-repeat="market in vm.nearbyMarkets | orderBy: 'distance'">
          <div class="six columns">
            <div class="market-image">
              <div class="market-text">
                <p class="mkt-name">{{ market.market_name }}</p>
                <p>{{ market.city }}, {{ market.state }}</p>
                <p>Distance: {{ market.distance | number:1 }} miles</p>
                <div class="go-button">
                  <button>Go</button>
                </div>
              </div>
              <div class="row">
                <div class="mobile-buttons">
                  <div class="info-button">
                    <a href="#" class="mobile-nav">Info</a>
                  </div>
                  <div class="buzz-button">
                    <a href="#" class="mobile-nav">Buzz</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>

  </div>

</div>
