.about {
  position: absolute;
  background-color: $dark-grey;
  overflow: auto;
  width: 80%;
  margin-left: 10%;
  z-index: 1000;
  color: white;
  a {
    color: white;
  }
  h3, p {
    padding: 0 3rem;
  }
  h3 {
    padding-top: 10px;
  }
  button {
    float: right;
    color: white;
    border: none;
    font-size: 2.5rem;
    padding-top: 10px;
  }
}

.main-links {
  img {
    height: 50px;
  }
  a {
    float: left;
    padding-right: 15px;
    img {
      margin-top: 5px;
    }
    p {
      position: relative;
      padding-top: 20px;
      margin-bottom: 0;
    }
  }
}


.home-link, .about-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    cursor: pointer;
  }
  img, p {
    padding: 5px 0;
  }

  p {
    display: relative;
    font-weight: bold;
  }
}

.main-nav {
  height: 65px;
  background-color: $green;
  color: white;
  margin-bottom: 30px;
  .desktop-logo {
    display: block;
  }
  .mobile-logo {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .main-nav {
    .desktop-logo {
      display: none;
    }
    .mobile-logo {
      display: block;
    }
  }
}
