.landing-logo {
  display: none;
}

.landing-video {
  width: 100%;
  margin-bottom: 5vh;
}
.landing-btns {
  text-align: center;
  margin: auto;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 30px;
  .landing-nav-btn {
    margin: 0 20px;
    margin-bottom: 5vh;
    background-color: $dark-blue;
    border: none;
    &:hover {
      border:none;
      background-color: lighten($dark-blue, 5%);
    }
  }
}
.zip-search-btn {
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .landing-logo {
    width: 100%;
    display: block;
  }
  h3 {
    text-align: center;
  }
  .landing-video {
    display: none;
  }
  .landing-nav-btn {
    width: 80%;
    margin: auto;
    font-size: 2rem;
    white-space: normal;
    line-height: 120%;
    padding: 10px;
    display: block;
    height: 100%;
  }
  .landing-btns {
    border: none;
  }
}
