.landing-logo {
  width: 50%;
  margin: 0 auto 10vh;
  display: block;
  img {
    width: 100%;
  }
}
.home-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
  img, p {
    padding: 5px 0;
  }
  img {
    height: 50px;
  }
  p {
    display: relative;
    margin-bottom: 0;
    margin: -50px 0 0 50px;
    font-weight: bold;
  }
}
.landing-video {
  width: 100%;
  margin-bottom: 20vh;
}
.landing-btns {
  .landing-nav-btn {
    display: block;
    margin-bottom: 5vh;
    background-color: $dark-blue;
    border: none;
    &:hover {
      border:none;
      background-color: lighten($dark-blue, 5%);
    }
  }
}

@media only screen and (max-width: 700px) {
  .landing-logo {
    width: 100%;
  }
  .landing-video {
    display: none;
  }
  .landing-nav-btn {
    width: 80%;
    font-size: 2rem;
    white-space: normal;
    line-height: 120%;
    padding: 10px;
    display: block;
    height: 100%;
  }
}
