.all-markets {
  li {
    list-style: none;
  }
  .mobile-buttons {
    visibility: hidden;
  }

  .near-header {
    text-align: center;
  }
  .market-image {
    height: 300px;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
  }
  .market-text {
    margin: auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.7);

    p {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0;
    }

    .go-button {
      text-align: center;

      button {
        margin-top: 15px;
        background-color: $darken;
        color: white;
        border: none;

        &:hover {
          background-color: lighten($darken, 5%);
        }
      }
    }
  }
  li:nth-of-type(5n+1) .market-image {
    background-image: url('/images/market1.jpeg');
  }
  li:nth-of-type(5n+2) .market-image {
    background-image: url('/images/market2.jpg');
  }
  li:nth-of-type(5n+3) .market-image {
    background-image: url('/images/market3.jpg');
  }
  li:nth-of-type(5n+4) .market-image {
    background-image: url('/images/market4.jpg');
  }
  li:nth-of-type(5n+5) .market-image {
    background-image: url('/images/market5.jpg');
  }

}

@media(max-width: 700px) {
  .go-button {
    display: none;
  }
  .mobile-buttons {
    .buzz-button, .info-button {
      visibility: visible;
      width: 50%;
      text-align: center;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .buzz-button {
      background-color: green;
      &:hover {
        background-color: darken(green, 10%);
        cursor: pointer;
      }
    }
    .info-button {
      float: right;
      background-color: blue;
      &:hover {
        background-color: darken(blue, 10%);
        cursor: pointer;
      }
    }
  }
}