.all-markets {

  li {
    list-style: none;
  }

  .market-image {
    height: 300px;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    border: 10px solid white;
    display: flex;
  }
  .market-text {
    margin: auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.7);

    p {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0;
    }

    button {
      margin-top: 15px;
      background-color: green;
      color: white;
    }
    .go-button {
      text-align: center;
    }
  }
  li:nth-of-type(5n+1) .market-image {
    background-image: url('/images/market1.jpeg');
  }
  li:nth-of-type(5n+2) .market-image {
    background-image: url('/images/market2.jpg');
  }
  li:nth-of-type(5n+3) .market-image {
    background-image: url('/images/market3.jpg');
  }
  li:nth-of-type(5n+4) .market-image {
    background-image: url('/images/market4.jpg');
  }
  li:nth-of-type(5n+5) .market-image {
    background-image: url('/images/market5.jpg');
  }

}