.single-info, .single-conv {
  border: 1px solid black;
}
.curr-categories {
  li {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
  }
}
.mkt-messages {
  height: 50vh;
  border: 1px solid black;
  overflow: scroll;
}
.desk-imgs {
  overflow-x: scroll;
  li {
    list-style: none;
    display: inline-block;
    overflow-x: scroll;

    img {
      height: 200px;
      overflow-x: scroll;
    }
  }
}