.single-info, .single-conv {
  border: 1px solid black;
}
.curr-categories {
  li {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
  }
}
.mkt-messages {
  height: 60vh;
  border: 1px solid black;
  overflow: scroll;
}
.desk-imgs {
  height: 68vh;
  overflow: scroll;
  li {
    list-style: none;
  }
  img {
    width: 100%;
  }
}