@import "colors";
@import "buttons";
@import "home";
@import "nearby-markets";
@import "single-market";
@import "about-nav";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

.center-text {
  text-align: center;
}

.max-width-img {
  width: 100%;
}

.bttn-center {
  display: flex;
  justify-content: center;
}
mobile-nav {
  display: none;
}
.mobile-nav {
  li {
    text-decoration: none;
  }
  .mobile-nav-btn {
    display: block;
    width: 70%;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 700px) {
  mobile-nav {
    display: block;
  }
}
