@import "colors";
@import "buttons";
@import "home";
@import "nearby-markets";
@import "single-market";
@import "about-nav";
@import "mobile-nav";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

.center-text {
  text-align: center;
}

.max-width-img {
  width: 100%;
}

.bttn-center {
  display: flex;
  justify-content: center;
}
