.green-button {
  background-color: #53A548;
  color: white;
  border: none; }
  .green-button:hover {
    background-color: #5eb453;
    color: white; }

.red-button {
  background-color: #cc0000;
  color: white; }
  .red-button:hover {
    background-color: #990000;
    color: white; }

.navy-button {
  letter-spacing: 0;
  background: #1F363D;
  color: white;
  text-transform: none;
  margin: 7px;
  font-size: 1.5rem; }
  .navy-button:hover {
    background: #28454e;
    color: white; }

.blue-button {
  letter-spacing: 0;
  background: #40798C;
  color: white;
  text-transform: none;
  margin: 7px;
  font-size: 1.5rem; }
  .blue-button:hover {
    background: #305b69;
    color: white; }

.landing-logo {
  display: none; }

.landing-video {
  width: 100%;
  margin-bottom: 5vh; }

.landing-btns {
  text-align: center;
  margin: auto;
  margin-bottom: 30px; }
  .landing-btns .landing-nav-btn {
    margin-bottom: 5vh;
    background-color: #40798C;
    border: none; }
    .landing-btns .landing-nav-btn:hover {
      border: none;
      background-color: #48889e; }

.zip-search-btn {
  text-align: center;
  margin: auto; }

.trove-intro {
  font-size: 1.75rem; }

@media only screen and (max-width: 700px) {
  .landing-logo {
    width: 100%;
    display: block; }
  h3 {
    text-align: center; }
  .landing-video {
    display: none; }
  .landing-nav-btn {
    width: 80%;
    margin: auto;
    font-size: 2rem;
    white-space: normal;
    line-height: 120%;
    padding: 10px;
    display: block;
    height: 100%; }
  .landing-btns {
    border: none; } }

.all-markets li {
  list-style: none; }

.all-markets .mobile-buttons {
  visibility: hidden; }

.all-markets .near-header {
  text-align: center; }

.all-markets .market-image {
  height: 300px;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
  border: 10px solid white;
  display: flex;
  flex-direction: column; }

.all-markets .market-text {
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); }
  .all-markets .market-text p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0; }
  .all-markets .market-text .go-button {
    text-align: center; }
    .all-markets .market-text .go-button button {
      margin-top: 15px;
      background-color: #53A548;
      color: white;
      border: none; }
      .all-markets .market-text .go-button button:hover {
        background-color: #5eb453; }

.all-markets li:nth-of-type(5n+1) .market-image {
  background-image: url("/images/market1.jpeg"); }

.all-markets li:nth-of-type(5n+2) .market-image {
  background-image: url("/images/market2.jpg"); }

.all-markets li:nth-of-type(5n+3) .market-image {
  background-image: url("/images/market3.jpg"); }

.all-markets li:nth-of-type(5n+4) .market-image {
  background-image: url("/images/market4.jpg"); }

.all-markets li:nth-of-type(5n+5) .market-image {
  background-image: url("/images/market5.jpg"); }

@media only screen and (max-width: 700px) {
  .go-button {
    display: none; }
  .mobile-buttons .info-button a {
    width: 100%;
    border-top: 2px solid white;
    display: block;
    background-color: #1F363D; }
    .mobile-buttons .info-button a:hover {
      background-color: #28454e;
      color: white; }
  .mobile-buttons .buzz-button, .mobile-buttons .image-button {
    visibility: visible;
    width: 50%;
    text-align: center;
    border: 2px solid white; }
  .mobile-buttons .buzz-button {
    background-color: #53A548;
    border-left: none;
    padding: 5px 0; }
    .mobile-buttons .buzz-button:hover {
      background-color: #418139;
      cursor: pointer;
      color: white; }
  .mobile-buttons .image-button {
    float: right;
    border-right: none;
    background-color: #40798C;
    padding: 5px 0; }
    .mobile-buttons .image-button:hover {
      background-color: #305b69;
      cursor: pointer;
      color: white; }
  .mobile-buttons a {
    visibility: visible;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px 0; } }

.filters {
  border: 1px solid #a8a8a8;
  border-bottom: none; }
  .filters select {
    margin-left: 5px;
    width: 47%; }
  .filters button {
    width: 47%; }

.curr-categories li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px; }

.mkt-messages {
  height: 60vh;
  border: 1px solid #a8a8a8;
  overflow: scroll; }
  .mkt-messages li {
    font-size: 2rem;
    list-style: none;
    width: 90%;
    margin: 10px auto;
    border-radius: 5px; }
  .mkt-messages li:nth-child(even) {
    border: 6px solid #53A548; }
  .mkt-messages li:nth-child(odd) {
    border: 6px solid #48889e; }
  .mkt-messages .each-message {
    padding: 10px; }
  .mkt-messages .vendor-message {
    background-color: #F0FFB3; }
  .mkt-messages .msg-text, .mkt-messages .additional-info {
    margin-bottom: 0; }
  .mkt-messages .additional-info {
    font-size: 1.5rem;
    font-weight: bold;
    color: #696969; }

.desk-imgs {
  height: 68vh;
  overflow: scroll; }
  .desk-imgs li {
    list-style: none; }
  .desk-imgs img {
    width: 100%; }

.single-mkt-info li, .single-mkt-info p {
  list-style: none;
  word-wrap: break-word;
  padding: 0 10px; }

.single-mkt-info .contact-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #0C0C0C;
  border-top: 1px solid #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  margin-left: 10px; }

.market-title {
  text-align: center; }
  .market-title h1 {
    margin-bottom: 0; }
  .market-title h5 {
    margin-bottom: 30px; }

.new-post-mobile {
  display: none; }

.images-row {
  margin-left: 2%;
  padding-right: 2%; }

@media only screen and (max-width: 700px) {
  .single-mkt-info {
    text-align: center; }
    .single-mkt-info li, .single-mkt-info p, .single-mkt-info .contact-title {
      font-size: 2rem; }
  .new-post-mobile {
    display: block; }
  .new-post-desktop {
    display: none; }
  .filters {
    position: relative;
    margin-top: -30px;
    text-align: center;
    margin: -30px auto 0 auto; } }

.about {
  position: absolute;
  background-color: #696969;
  overflow: auto;
  width: 80%;
  margin-left: 10%;
  z-index: 1000;
  color: white; }
  .about a {
    color: white; }
  .about h3, .about p {
    padding: 0 3rem; }
  .about h3 {
    padding-top: 10px; }
  .about button {
    float: right;
    color: white;
    border: none;
    font-size: 2.5rem;
    padding-top: 10px; }

.main-links img {
  height: 50px; }

.main-links a {
  float: left; }
  .main-links a img {
    margin-top: 5px; }
  .main-links a p {
    position: relative;
    padding: 20px 15px; }

.home-link, .about-link {
  text-decoration: none;
  color: white; }
  .home-link:hover, .about-link:hover {
    color: white;
    cursor: pointer; }
  .home-link img, .home-link p, .about-link img, .about-link p {
    padding: 5px 0; }
  .home-link p, .about-link p {
    display: relative;
    font-weight: bold; }

.main-nav {
  height: 65px;
  background-color: #53A548;
  color: white;
  margin-bottom: 30px; }
  .main-nav .desktop-logo {
    display: block; }
  .main-nav .mobile-logo {
    display: none; }

@media only screen and (max-width: 700px) {
  .main-nav .desktop-logo {
    display: none; }
  .main-nav .mobile-logo {
    display: block; } }

mobile-nav {
  display: none; }

.secondary-mobile-nav {
  text-align: center;
  position: relative;
  margin: -30px 0 30px 0;
  background-color: #40798C; }
  .secondary-mobile-nav a {
    padding: 10px;
    font-size: 1.75rem;
    color: white;
    text-decoration: none; }

@media only screen and (max-width: 700px) {
  mobile-nav {
    display: block; } }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 100px; }

.center-text {
  text-align: center; }

.max-width-img {
  width: 100%; }

.bttn-center {
  display: flex;
  justify-content: center; }
