.landing-map {
  width: 960px;
  height: 500px;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round; }

.states-choropleth {
  fill: #ccc; }

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none; }

.tooltip_key {
  font-weight: bold; }

.tooltip_value {
  margin-left: 20px;
  float: right; }

.all-markets li {
  list-style: none; }

.all-markets .mobile-buttons {
  visibility: hidden; }

.all-markets .near-header {
  text-align: center; }

.all-markets .market-image {
  height: 300px;
  width: 100%;
  background-size: cover;
  box-sizing: border-box;
  border: 10px solid white;
  display: flex;
  flex-direction: column; }

.all-markets .market-text {
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7); }
  .all-markets .market-text p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0; }
  .all-markets .market-text .go-button {
    text-align: center; }
    .all-markets .market-text .go-button button {
      margin-top: 15px;
      background-color: green;
      color: white; }

.all-markets li:nth-of-type(5n+1) .market-image {
  background-image: url("/images/market1.jpeg"); }

.all-markets li:nth-of-type(5n+2) .market-image {
  background-image: url("/images/market2.jpg"); }

.all-markets li:nth-of-type(5n+3) .market-image {
  background-image: url("/images/market3.jpg"); }

.all-markets li:nth-of-type(5n+4) .market-image {
  background-image: url("/images/market4.jpg"); }

.all-markets li:nth-of-type(5n+5) .market-image {
  background-image: url("/images/market5.jpg"); }

@media (max-width: 700px) {
  .go-button {
    display: none; }
  .mobile-buttons .buzz-button, .mobile-buttons .info-button {
    visibility: visible;
    width: 50%;
    text-align: center; }
    .mobile-buttons .buzz-button a, .mobile-buttons .info-button a {
      color: white;
      text-decoration: none; }
  .mobile-buttons .buzz-button {
    background-color: green; }
    .mobile-buttons .buzz-button:hover {
      background-color: #004d00;
      cursor: pointer; }
  .mobile-buttons .info-button {
    float: right;
    background-color: blue; }
    .mobile-buttons .info-button:hover {
      background-color: #0000cc;
      cursor: pointer; } }

.single-info, .single-conv {
  border: 1px solid black; }

.curr-categories li {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px; }

.mkt-messages {
  height: 50vh;
  border: 1px solid black;
  overflow: scroll; }

.desk-imgs {
  overflow-x: scroll; }
  .desk-imgs li {
    list-style: none;
    display: inline-block;
    overflow-x: scroll; }
    .desk-imgs li img {
      height: 200px;
      overflow-x: scroll; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 100px; }

.center-text {
  text-align: center; }

.max-width-img {
  width: 100%; }

.bttn-center {
  display: flex;
  justify-content: center; }

.main-nav {
  height: 60px;
  background-color: #9EBF6D;
  color: white;
  margin-bottom: 75px; }

.footer-nav {
  position: absolute;
  background-color: #696969;
  color: white;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%; }

.vendor-message {
  color: red; }
