<div class="mobile-nav">
  <a href="/#/market-info"><button class="blue-button
                                          mobile-nav-btn">Market Info</button>
                                          </a>
  <a href="/#/messages"><button class="blue-button
                                       mobile-nav-btn">Current Buzz</button>
                                       </a>
  <a href="/#/images"><button class="blue-button
                                     mobile-nav-btn">Images</button>
                                     </a>
</div>
